#Define APP name for services and containers
APP_NAME={{APP_NAME}}

#Define ports for containers
PORT_DB={{PORT_DB}}
PORT_PHPMYADMIN={{PORT_PHPMYADMIN}}
PORT_HTTP={{PORT_HTTP}}
PORT_HTTPS={{PORT_HTTPS}}
PORT_PHP={{PORT_PHP}}

#Define if ENV is development or production
DEVELOPMENT={{DEVELOPMENT}}

#Define docker-compose files
COMPOSE_FILE={{COMPOSE_FILE}}
COMPOSE_PROJECT_NAME={{COMPOSE_PROJECT_NAME}}

#Local IP Address
LOCAL_IP_ADDRESS={{LOCAL_IP_ADDRESS}}